<h1>Quotes I Love</h1>
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article_path(article) do %>
        <h3 class='article_title'>
         <%= article.title %>
        </h3>
        <p class="article_slug">
            <%= truncate(article.body, length: 95) %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>



