@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  margin: 0;

/*navbar*/
  .navbar {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #414141;
    color: #fff;

    .blog_name {
      position: relative;
      display: inline-block;
      top: 25px;
      font-size: 1.5em;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #720eff;
      }
    }
    .nav_list .go {
      top: 25px;
      font-size: 1em;
      text-decoration: none;
      color: #fff;

      &:hover {
        color: #720eff;
      }
    }
  }
  /*typography*/
  h1 {
    font-size: 2em;
    text-align: center;
    color: #414141;
  }
  h3 {
    font-size: 1.25em;
  }
  a {
    color: #720eff;
  }
  /*buttons*/
  .btn {
    background-color: #720eff;
    color: #fff;
    padding: .5em 1em;
    border-radius: 1px;
    font-size: 1em;
    letter-spacing: 1px;
  }
  /*article index*/
  #article_list_container {
    position: relative;
    display: block;
    top: 50px;
    width: 100%;
    height: 95vh;

    #content {
      position: relative;
      display: block;
      width: 60%;
      margin: 25px auto;

      #articles {
        position: relative;
        display: block;
        top: 50px;

        .article_title {
          display: block;
          top: 25px;
          margin: 1em;
          font-size: 1.25em;
          text-decoration: none;
          color: #414141;
        }
      }
    }
  }
  /*article page*/
  .show-article {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    padding: 1em;

    .article_body {
      position: relative;
      display: block;
      top: 25px;
      line-height: 1.5em;
      width: 100%;
      margin: 1em;
    }
    .article_action {
      position: relative;
      display: inline-block;
      margin-top: 3em;
      text-decoration: none;
      margin-left: 2em;
    }
    .tags {
      position: relative;
      display: block;
      top: 1em;
      text-align: right;
    }
    .tag_name {
      position: relative;
      display: inline-block;
      margin-top: 2em;
      text-decoration: none;
      font-size: .75em;
    }
  }
  hr.separator {
    width: 100%;
    border-bottom: 1px solid #414141;
  }
  /*comments*/
  .show-comments {
    position: relative;
    display: block;
    top: 50px;
    padding: 2em;

    .comments_form {
      position: relative;
      display: inline-block;
      width: 100%;

      .form_label {
        position: relative;
        font-size:.75em;
      }
      .text_field {
        font-size: 1em;
        width: 300px;
        height: 30px;
        border: 1px solid #aaa;
        margin-bottom: 1em;
        border-radius: 5px;
      }
      .text_area {
        font-size: 1em;
        width: 500px;
        height: 300px;
        border: 1px solid #aaa;
        line-height: 1.25em;
        margin-bottom: 1em;
        border-radius: 5px;
      }
    }
    .comment_container {
      position: relative;
      display: block;
      margin: 2em;

      .comment-author {
        line-height: 1.5em;
        font-size: .75em;
      }
      .comment-body {
        line-height: 2em;
        font-size: 1em;
      }
      .comment-time {
        line-height: 1em;
        font-size: .5em;
      }
    }
  }
  .article_form {
    position: relative;
    display: block;
    width: 750px;
    margin: 25px auto;
    background-color: #dedede;
    padding: 2em;
    box-shadow: 1px 2px 10px rgba(50, 50, 50, 0.6);

    .form_label {
      position: relative;
      font-size: 1.25em;
    }
    .text_field {
      background-color: #fafafa;
      font-size: 1em;
      width: 300px;
      height: 30px;
      border: none;
      margin-top: .75em;
      margin-bottom: 2em;
    }
    .text_area {
      background-color: #fafafa;
      font-size: 1em;
      width: 500px;
      height: 300px;
      border: none;
      margin-top: .75em;
      margin-bottom: 2em;
      line-height: 1.25em;
    }
  }
  .footer {
    position: relative;
    display: block;
    text-align: center;
    font-size: .75em;
  }
}


























